NEXT_PUBLIC_PORTAL_URL=https://parker-portal.vercel.app
NEXT_PUBLIC_API_BASE_URL=https://parker-api-jhmz.onrender.com/api
# NEXT_PUBLIC_APP_STORE_URL=
# NEXT_PUBLIC_PLAY_STORE_URL=
# NEXT_PUBLIC_CANONICAL_URL=https://pietrocastagna.github.io/parker-web
